<!DOCTYPE html>
<html>
  <head>
    <title>Hoopsbnb</title>
    <link href='https://fonts.googleapis.com/css?family=Scada' 
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/cac26a4ea7.js' crossorigin='anonymous'></script>
    <link rel="shortcut icon" type="image/png" href="https://hoopsbnb-seed.s3.amazonaws.com/logo_ball_cropped.jpg">
    <meta property="og:title" content="Hoopsbnb">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hoopsbnb.herokuapp.com/#/">
    <meta property="og:image" content="https://pacebook-seed.s3.amazonaws.com/image/pacebook3.png">
    <meta property="og:description"
        content="A functional Airbnb clone that lets users book and play on their favorite basketball courts, without any disruptions.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.logo_ball = "<%= image_url('logo_ball.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
