<!DOCTYPE html>
<html>
  <head>
    <title>Hoopsbnb</title>
    <link href='https://fonts.googleapis.com/css?family=Scada' 
    rel='stylesheet' type='text/css'>
    <script src='https://kit.fontawesome.com/cac26a4ea7.js' crossorigin='anonymous'></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    #Original code that was in the Benchbnb HW - WORKS FINE but only on localhost
    
    #React code that we can use to interact with on the front end - does NOT work
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
     window.logo = "<%= image_url('logo.png') %>";
     window.arena = "<%= image_url('basketball.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
